<div class="contactsWrapper">
    <div class="contacts">
            <div class="title">
                <div class="border-line"></div>
                    <div class="textOfHeader">
                        Связаться с нами
                    </div>
                <div class="border-line"></div>
            </div>
            <div class="contactsTableWrapper">
                <table class="contactsTable">
                    <tr>
                        <td colspan="2">
                            Контакты:
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">г. Минск, ул. Дзержинск, 95, ТРЦ Титан, 5-6 этаж</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            E-mail:cinema.olya@gmail.com
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            Режим работы:
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            Кинотеатр открывается за 30 минут до начала первого сеанса!
                            Время закрытия — через 15 минут после начала последнего сеанса.
                        </td>
                    </tr>
                </table>

            </div>

    </div>
</div>
