<div class="movie-preview">
    <div class="logo-wrapper">
        <img src="{{preview.movie.avatarUrl}}" />
    </div>

    <div class="content">
        <div class="title-wrapper">
            <h3 class="title">
                <a ui-sref="movie({id: preview.movie._id})">
                    {{preview.movie.name}}
                </a>
            </h3>
            <jk-rating-stars max-rating="5"
                             rating="preview.movie.rating"
                             read-only="ctrl.readOnly"
                             on-rating="preview.setRating(rating)">
            </jk-rating-stars>
        </div>
        <div class="description-wrapper">
            <div>{{preview.movie.description}}</div>
            <div>
                <a ui-sref="movie({id: preview.movie._id})"> ... ></a>
            </div>
        </div>
        <div ng-show="preview.movie.sessions.length">
            <div>
                <h4 class="title">Сеансы</h4>
            </div>

            <div class="sessions-wrapper">
                <div class="session"
                     ng-repeat="session in preview.movie.sessions"
                     ui-sref="order({sessionID: session._id})">
                    {{session.startDate | timeOnly}}
                </div>
            </div>
        </div>
    </div>
</div>
