<div class="movie-preview">
    <div class="logo-wrapper">
        <img src="{{preview.movie.avatarUrl}}" />
    </div>

    <div class="content">
        <div>
            <h3 class="title">
                <a ui-sref="movie({id: preview.movie._id})">
                    {{preview.movie.name}}
                </a>
            </h3>
        </div>
        <div class="description-wrapper">
            <div>{{preview.movie.description}}</div>
            <div>
                <a ui-sref="movie({id: preview.movie._id})"> ... ></a>
            </div>
        </div>
        <div>
            Сеансы
        </div>
    </div>
</div>
