<header class="header">
    <div class="header-content">
        <div class="search-wrapper">
            <div class="form-search">
                <input type="text" class="searchInput" placeholder="Поиск фильмов" value="" />
                <button class="searchButton">
            &#128269;
          </button>
            </div>
        </div>
        <div class="authorizationButton">
            <md-menu ng-if="currentUser">
                <md-button aria-label="Open phone interactions menu" class="md-button" ng-click="$mdMenu.open()">
                    {{currentUser.login}}
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ui-sref="manage-entities({entityType:'movie'})">Управление фильмами</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ui-sref="profile">Профиль</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="header.logOut()">Выйти</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>

            <md-menu ng-if="!currentUser">
                <md-button aria-label="Open phone interactions menu" class="md-button" ng-click="$mdMenu.open()">
                    ВОЙТИ
                </md-button>
                <md-menu-content width="4">
                    <div class="signInWrapper">
                        <div class=nameUser>
                          <img src="../../assets/img/user_male_6834.png"/>
                            <input type="text" class="inputUser" ng-model="header.userData.login"  placeholder="Имя пользователя"/>

                        </div>
                        <div class="passwordUser">
                        <img src="../../assets/img/kgpg_8241.png"/>
                            <input type="password" class="inputUser" ng-model="header.userData.password" placeholder="Пароль"/>
                        </div>
                    </div>
                    <div class="InputButtonWrapper">
                        <md-button class="md-raised md-primary" ng-click="header.login()">
                            Войти
                        </md-button>
                    </div>
                    <div class="linkSignUpWrapper">
                        <div class="textSignUp">
                            Нет учетной записи?
                        </div>
                        <div class="linkSignUp">
                            <a ui-sref="signup" class=linkA>
                                Регистрация
                            </a>
                        </div>
                    </div>
                </md-menu-content>
            </md-menu>
        </div>
    </div>
</header>
