<div class="main-wrapper">
    <div class="afishaLink">
        <a ui-sref="afisha">
            Афиша
        </a>
    </div>
    <div class="newsLink">
        <a ui-sref="news">
            Новости
        </a>
    </div>
    <div class="logoLink">
        <a ui-sref="home">
            <img src="./assets/img/logo.png" />
        </a>
    </div>
    <div class="afishaLink">
        <a ui-sref="info">
            Инфо
        </a>
    </div>
    <div class="newsLink">
        <a ui-sref="contact">
            Контакты
        </a>
    </div>
</div>
