<div class="order">
    <div class="breadcrumbs-wrapper" layout="center center">
        <div class="breadcrumb"
             ng-repeat="breadcrumb in order.breadcrumbs">
            {{breadcrumb.title}}
        </div>
    </div>

    <div ng-include="order.currentStep.viewSrc"></div>

    <div>
        <md-button class="md-raised"
                   ng-click="order.switchToPrevStep()">
            Назад
        </md-button>
        <md-button class="md-raised md-primary"
                   ng-click="order.switchToNextStep()">
            Продолжить заказ билетов
        </md-button>
    </div>
</div>
