<div class="content-wrapper">
    <div class="content-main">
        <div class="filter-wrapper">
            <div class="filter">
                Дата
            </div>
            <div class="filter">
                Время
            </div>
            <div class="filter">
                Жанр
            </div>
        </div>

        <div class="logo-panel">
            <div class="border-line"></div>

            <div class="logo">
                <div class="logo-title">
                    <div>
                        СЕЙЧАС В КИНО
                    </div>
                    <div>
                        До скорой встречи!
                    </div>
                </div>
            </div>

            <div class="border-line"></div>
        </div>
        <div class="content">
            <movie-preview ng-repeat="movie in home.movies" movie="movie"></movie-preview>
        </div>
    </div>

    <popular-movies class="popular-movies-wrapper" title="Популярные фильмы"></popular-movies>
</div>
