<div class="signUpwrapper">
    <table class="signUp">
        <tr>
            <td colspan="2" class="sign">
                {{user.data.isAdmin ? 'Администратор' : 'Пользователь'}}
            </td>
        </tr>
        <tr>
            <td>
                Имя:
            </td>
            <td>
                <input type="text" class="signUpInput" ng-model="user.data.username"/>
            </td>
        </tr>
        <tr>
            <td>
                Фамилия:
            </td>
            <td>
                <input type="text" class="signUpInput" ng-model="user.data.usersurname"/>
            </td>
        </tr>
        <tr>
            <td>
                Номер паспорта:
            </td>
            <td>
                <input type="text" class="signUpInput" ng-model="user.data.passport"/>
            </td>
        </tr>
        <tr>
            <td>
                Логин:
            </td>
            <td>
                <input type="text" class="signUpInput" ng-model="user.data.login"/>
            </td>
        </tr>
        </tr>

        <tr>
            <td>
                e-mail:
            </td>
            <td>
                <input type="text" class="signUpInput" ng-model="user.data.email"/>
            </td>
        </tr>
        <tr>

            <td colspan="2">
                <md-button class="md-raised md-primary" ng-click="user.update()">
                    Изменить
                </md-button>
            </td>
        </tr>


    </table>

    <div class="orders">
        orders
    </div>
</div>
