<div class="signUpwrapper">
    <table class="signUp">
        <tr>
        <td colspan="2" class="sign">
            Регистрация
        </td>
        </tr>
        <tr>
            <td>
                Имя:
            </td>
            <td>
                <input type="text" class="signUpInput" />
            </td>
        </tr>
        <tr>
            <td>
                Фамилия:
            </td>
            <td>
                <input type="text" class="signUpInput" />
            </td>
        </tr>
    </tr>
    <tr>
        <td>
            Страна:
        </td>
        <td>
            <input type="text" class="signUpInput" />
        </td>
    </tr>
        <tr>
            <td>
                Город:
            </td>
            <td>
                <input type="text" class="signUpInput" />
            </td>
        </tr>

        <tr>
            <td>
                e-mail:
            </td>
            <td>
                <input type="text" class="signUpInput" />
            </td>
        </tr>
        <tr>
            <td>
                Пароль:
            </td>
            <td>
                <input type="password" class="signUpInput" />
            </td>
        </tr>
        <tr>

            <td colspan="2">
                <md-button class="md-raised md-primary">
                    Регистрация
                </md-button>
            </td>
        </tr>


    </table>

</div>
