<div class="signUpwrapper">
    <table class="signUp">
        <tr>
            <td colspan="2" class="sign">
                Регистрация
            </td>
        </tr>
        <tr>
            <td>
                Имя:
            </td>
            <td>
                <input type="text" class="signUpInput" ng-model="signup.userData.username"/>
            </td>
        </tr>
        <tr>
            <td>
                Фамилия:
            </td>
            <td>
                <input type="text" class="signUpInput" ng-model="signup.userData.usersurname"/>
            </td>
        </tr>
        <tr>
            <td>
                Номер паспорта:
            </td>
            <td>
                <input type="text" class="signUpInput" ng-model="signup.userData.passport"/>
            </td>
        </tr>
        <tr>
            <td>
                Логин:
            </td>
            <td>
                <input type="text" class="signUpInput" ng-model="signup.userData.login"/>
            </td>
        </tr>
        </tr>

        <tr>
            <td>
                e-mail:
            </td>
            <td>
                <input type="text" class="signUpInput" ng-model="signup.userData.email"/>
            </td>
        </tr>
        <tr>
            <td>
                Пароль:
            </td>
            <td>
                <input type="password" class="signUpInput" ng-model="signup.userData.password"/>
            </td>
        </tr>
        <tr>

            <td colspan="2">
                <md-button class="md-raised md-primary" ng-click="signup.signup()">
                Регистрация
                </md-button>
            </td>
        </tr>


    </table>

</div>
